<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900698189199-u22gks6b081k5feg9935mp2enm78bdvn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900698189199-u22gks6b081k5feg9935mp2enm78bdvn</string>
	<key>API_KEY</key>
	<string>AIzaSyBsPZeYrIUPYDkRyhQQBetZx4_0k8jTE1Y</string>
	<key>GCM_SENDER_ID</key>
	<string>900698189199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kadinsayani.Kore</string>
	<key>PROJECT_ID</key>
	<string>kore-732e6</string>
	<key>STORAGE_BUCKET</key>
	<string>kore-732e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900698189199:ios:77ed3c61ce1d64453aeffa</string>
</dict>
</plist>